option_settings:
  - option_name: APP_CONFIG_FILE
    value: "/var/amm-web/config"
      
container_commands:
  create_config_file:
    command: "python /tmp/deployment/application/ROOT/WEB-INF/.ebextensions/generateConf.py"
    
  upload_config:
    command: "/home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r /var/amm-web/config s3://$AMM_S3_UPLOAD_BUCKET/config --config /home/ec2-user/s3cmd-1.5.0-alpha3"
    leader_only: true