option_settings:
  - option_name: APP_CONFIG_FILE
    value: "/var/amm-web/config"

files:
  "/var/amm-web/config":
    mode: "000444"
    owner: "tomcat"
    group: "root"
    content: |
      AWS_REGION=`{ "Ref" : "AWS::Region"}`
      S3_UPLOAD_PREFIX=uploads
      S3_PROFILE_PIC_PREFIX=profile
      DEFAULT_PROFILE_PIC_KEY=static/img/default_profile_pic.png