sources:
  /home/ec2-user: http://downloads.sourceforge.net/project/s3tools/s3cmd/1.5.0-alpha3/s3cmd-1.5.0-alpha3.tar.gz
container_commands:
  01_sync_assets:
    command: /home/ec2-user/s3cmd-1.5.0-alpha3/s3cmd put -r static s3://$S3_UPLOAD_BUCKET/ --acl-public --config /home/ec2-user/s3cmd-1.5.0-alpha3
    leader_only: true