### /Users/evbrown/.gitignore-boilerplates/java.gitignore

*.class

# Package Files #
*.war
*.ear


### /Users/evbrown/.gitignore-boilerplates/Global/eclipse.gitignore

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

target/

# pycharm
.idea