
<div class="span2" style="float:left;margin-left:25px">
	<img
		src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
		alt="" class="img-rounded" width="100px"></img>
</div>
<div class="span4" style="float:right">
	<blockquote>
		<p>Bruce Wayne</p>
		<small><cite title="Source Title">Gotham, United
				Kingdom <i class="icon-map-marker"></i>
		</cite></small>
	</blockquote>
	<p>
		<i class="icon-envelope"></i> masterwayne@batman.com <br /> <i
			class="icon-globe"></i> www.bootsnipp.com <br /> <i class="icon-gift"></i>
		January 30, 1974
	</p>
</div>
