<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Application Configuration</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label> Loaded from <span th:text="${configLoadedFrom}"></span>
					</label>
					<textarea class="form-control" th:text="${appConfig}" rows="15"></textarea>
				</div>
				<hr />
				<div class="form-group">
					<label> AWS Credentials </label>
					<table class="table">
						<tbody>
							<tr>
								<td>Access Key</td>
								<td th:text="${accessKey}"></td>
							</tr>
							<tr>
								<td>Secret Key</td>
								<td th:text="${secretKey}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Configurable Items</h3>
			</div>
			<div class="panel-body">
				<div th:unless="${#maps.isEmpty(prs)}" th:each="pr : ${prs}">
					<div class="configurable-item">
						<div class="row">
							<div class="col-md-8">
								<p>
									<strong th:text="${pr.value.getName()}"></strong>
								</p>
							</div>
							<div class="col-md-4">
								<div th:switch="${pr.value.getState().name()}">
									<a th:case="'UNPROVISIONED'" type="submit" th:href="@{/config/provision/} + ${pr.key}"
										class="btn pull-right btn-info">Create</a>
									<a th:case="'PROVISIONING'" type="submit"
										class="btn pull-right btn-info disabled">Creating</a>
									<a th:case="'PROVISIONED'" type="submit"
										class="btn pull-right btn-success disabled">OK</a>
								</div>
							</div>
						</div>
					</div>
					<hr />
				</div>
				<div th:if="${#lists.isEmpty(prs)}">
					<p>There are no configurable items to display</p>
				</div>
			</div>
		</div>
	</div>
</div>