<div class="header">
	<a href="/"><img th:src="@{/static/img/a_media_manager_logo.jpg}"
		height="75" alt="a media manager" /></a>
	<div id="headmenu">
		<!--
		<input name="Search" type="text" size="40" maxlength="255" /> <input
			name="Search" type="button" value="Search" />-->

		<div sec:authorize="isAuthenticated()">
			<a href="dashboard.jsp" id="profile_link">My Media</a> | <a
				th:href="@{/logout}" id="logout_link">Sign Out (<span
				th:text="${#authentication.name}"></span>)
			</a>
			<p />
		</div>

		<div sec:authorize="isAnonymous()">
			<a href="" id="registration_link">Register</a> | <a href="#"
				id="login_link">Sign In</a>
			<p />
		</div>
	</div>
</div>