<style>
.thumbnail {
	margin-right: 30px;
	margin-bottom: 50px;
}
</style>

<div class="row" th:unless="${#lists.isEmpty(videos)}">
<div th:each="video : ${videos}">
	<div class="col-md-4">
		<div class="thumbnail" style="width:210px;margin-left: 0 auto; margin-right: 0 auto">
			<img th:src="${video.thumbnailKey}" src="http://placehold.it/320x200"
				th:alt="${video.title}"></img>
			<div class="caption" style="text-align: center">
				<h4 th:text="${video.title}">Video Title</h4>
				<div class="btn-group btn-group-xs">
					<div class="btn-group btn-group-xs">
						<a type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							<span class="glyphicon glyphicon-circle-arrow-down"></span>
						</a>
						<ul class="dropdown-menu" style="text-align: left">
							<li><a href="#">Original</a></li>
							<li><a href="#">Web</a></li>
							<li><a href="#">IPhone</a></li>
						</ul>
					</div>
					<a type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
					<a type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<ul class="pagination">
			<li><a href="#">Prev</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
	<div class="col-md-6"></div>
</div>