<style>
.mejs-container {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}
img.inprogress {
	margin-top:5px;
	margin-bottom:5px;
}
</style>
<script>
	// jQuery method
	$(document).ready(function() {
		$('video').mediaelementplayer({
			features: ['playpause','progress','current','duration','fullscreen'],
			autosizeProgress: false
		});
	})
</script>
<div class="row">
	<div class="col-md-9 section-preview">
		<span th:unless="${#lists.isEmpty(videos)}">
			<div id="legend">
				<legend>Your Videos</legend>
			</div>

			<div th:each="video,iterStat : ${videos}">
				<div class="col-md-6">
					<div class="preview">
						<span th:unless="${#strings.isEmpty(video.previewKey)}" class="no-svg">
							<video
							    style="width:100%;"
								th:src="${video.expiringPreviewKey}" type="video/mp4"
								th:id="'example_video_' + ${iterStat.count}"
								th:poster="${video.expiringThumbnailKey}"
								width="320" height="240">
							</video>
						</span> <span th:if="${#strings.isEmpty(video.previewKey)}"> <img
							th:src="${video.expiringThumbnailKey}" class="img-responsive inprogress"></img>
						</span>
						<div class="options">
							<h3 th:text="${video.title}">Video title</h3>
							<p th:unless="${#strings.isEmpty(video.description)}"
								th:text="${video.description}">Video description</p>
							<p th:if="${#strings.isEmpty(video.description)}">&nbsp;</p>
							<div class="btn-group">
								<a class="btn btn-info" href="#"
									th:href="@{/video/} + ${video.id}"><span
									class="glyphicon glyphicon-pencil"></span></a>
							</div>
							<div class="btn-group">
								<a class="btn btn-info" target="_blank"
									th:href="${video.expiringUrl}"><span
									class="glyphicon glyphicon-cloud-download"></span></a> <a
									class="btn btn-info dropdown-toggle" data-toggle="dropdown"
									href="#"> <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<!--  Expiring URL to original video -->
									<li><a target="_blank" th:href="${video.expiringUrl}">Original</a></li>

									<!--  If the streaming version is set, show it -->
									<li th:if="${not #strings.isEmpty(video.previewKey)}"><a
										target="_blank" th:href="${video.expiringPreviewKey}">Web</a></li>
									<li th:if="${#strings.isEmpty(video.previewKey)}"
										class="disabled"><a target="_blank" href="#">Web (not
											available)</a></li>

									<!-- Placeholder for other formats -->
									<li class="disabled"><a target="_blank" href="#">iPhone</a></li>
								</ul>
							</div>
							<div class="btn-group">
								<a class="btn btn-info" href="#"><span
									class="glyphicon glyphicon-trash"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</span>
	</div>
	<div class="col-md-3">
		<div id="empty">
			<legend>Upload New Video</legend>
		</div>
		<a class="btn btn-success btn-lg btn-block" th:href="@{/video/upload}">
			<span class="glyphicon glyphicon-cloud-upload"></span>
		</a> <br />
		<div id="legend">
			<legend>Tags</legend>
			<ul class="nav nav-pills">
				<li><a href="#">vacation<span class="badge">42</span></a></li>
				<li><a href="#">monkeys<span class="badge">15</span></a></li>
				<li><a href="#">yolo<span class="badge">21</span></a></li>
				<li><a href="#">futurama<span class="badge">5</span></a></li>
				<li><a href="#">cylons<span class="badge">75</span></a></li>
				<li><a href="#">bacon<span class="badge">12</span></a></li>
				<li><a href="#">cats<span class="badge">13</span></a></li>
				<li><a href="#">goesallthewayto<span class="badge">11</span></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- <div class="row">
	<div class="col-md-6">
		<ul class="pagination">
			<li><a href="#">Prev</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</div>
	<div class="col-md-6"></div>
</div> -->